<div class="row">
      <div class="col-md-6 col-md-offset-3">

<h1>关于Events</h1>
<p>本程序乃新一代Web记事/日志App。</p>
<p>Events乃采用最为强大的Web框架——Ruby and Rails开发。</p>
<p>此框架久经考验，性能优秀，结构优雅且弹性十足，可伸缩性非常完美。</p>
<p>自其初创以来，无数的互联网企业都将其作为首选开发框架。从流媒体网站到让人眼花缭乱的购物网站，</p>
<p>从简单的博客网站到互联网上市公司，都有非常庞大的拥趸。Rails开发的应用早已琳琅满目。</p>
<p>而Events,只不过是这无数的Rails Web App之中的一个而已。我们由衷地希望，您会真正喜欢这个App。</p>
<p>若使用过程中有任何想法，也请<a href="mailto: webmaster@PylonTQx.com" target=_blank >反馈意见给我们</a>。我们将会非常感激您的珍贵提议。</p>
<p>———————PylonTQx Inc. 团队</p>

<%= link_to(t('Home'), root_url)  %>
     </div>
</div>


<style type="text/css">
      .col-md-6{
          text-align: center;
      }
</style>
