
<div class="row">
      <div class="col-md-6 col-md-offset-3">

<h1>欢迎加入我们的团队!</h1>
<p>加入初创团队，有机会开创激动人心的新事业。</p>
<p>这种机会，在人的一生中，又岂容错过？！</p>
<p>如果您和我们一样，抱持有一颗赤子之心，您就会相信：</p>
<p>世间事，有许多东西，值得花费一生去尝试。</p>
<p>如果您有Ruby and Rails 方面的专长，</p>
<p>或者HTML/CSS/Vue/NodeJS等前端方面的专长，</p>
<p>请不要吝啬您的宝贵才能，记得向我们投送简历！</p>
<p>请点击以下链接，投送您的宝贵简历：<a href="mailto: HR@PylonTQx.com" target=_blank >HR@PylonTQx.com</a></p>
<p>非常感谢您的信赖。</p>
<p>———————PylonTQx Inc. 团队</p>


<%= link_to(t('Home'), root_url)  %>
     </div>
</div>
<style type="text/css">
      .col-md-6{
          text-align: center;
      }
</style> 
